.navbar{
    background: linear-gradient(to right, #000000, #b10c2d);
    font-family: 'Permanent Marker', cursive;
}

.navbar-link{
    position: absolute;
    left: 45%;
}

.jumbotron{
    background-image: url("../images/salle-cinema.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
}

.list-movies{
    background: #000000;
}

.card{
    background-color: #00000000;
}

.card .card-body{
    display: flex;
    flex-direction: column;
}

.card .card-body h5{
    font-size: 0.8rem;
    text-align: center;
}
.card img{
    width: 100%;
    height: 60vh;
}

.card-title{
    color: white;
}

footer{
    background: linear-gradient(to right, #000000, #b10c2d);
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.col{
    text-align: center;
}
